﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Manager Finder</title>
</head>
<body>
<div>
    Manager Finder
    <p></p>
    <p></p>
    Confidential - For Internal Use Only
    <p></p>
    Search Phrase:
    <p></p>
    Search By:
</div>
</body>
</html>